body {
  border: 0px;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: 'Oxygen', sans-serif;
  overflow-x: hidden;
}

#loginpage {
  background-color: #7af05d;
  height: 100vh;
  margin: none;
}

#login-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -ms-grid-rows: 0.5fr 2fr 0.8fr 1fr 0.8fr 1fr 0.8fr 1fr;
      grid-template-rows: 0.5fr 2fr 0.8fr 1fr 0.8fr 1fr 0.8fr 1fr;
      grid-template-areas: ". . ." " . logo ." ". . ." " . email ." ". . ." ". password ." ". . ." ". login .";
}

#login-email {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: email;
  border: none;
  font-family: 'Oxygen', sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2vw;
}

#login-password {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: password;
  border: none;
  font-family: 'Oxygen', sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2vw;
}

#login {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: login;
  background-color: #04B8D0;
  border: none;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-family: 'Oxygen', sans-serif !important;
  font-size: 2vw;
  color: white;
}

#formlepe {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: logo;
  height: 9vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#foodform {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-rows: 1fr 4fr 2fr;
      grid-template-rows: 1fr 4fr 2fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "name" " . " "desc";
  min-height: 0px !important;
  background-size: 100vw 39vw;
  height: 39vw;
  width: 100vw;
  background-image: url("/pic/placeholder.jpeg");
  overflow: hidden;
}

#nameform {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  background: rgba(40, 40, 40, 0.44);
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.9vw;
  color: white;
  text-align: center;
}

#descform {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
  background: rgba(40, 40, 40, 0.44);
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 1.9vw;
}

.naa {
  margin-top: 2vw;
  font-size: 2vw !important;
}

.dess {
  font-size: 1.5vw !important;
}

#dessform {
  height: 3.5vw;
  width: 90vw;
  margin-top: 2vw;
  background: rgba(40, 40, 40, 0);
  color: white;
  border: none;
  text-align: center;
}

#priceform {
  height: 2.5vw;
  width: 90vw;
  margin-top: 2vw;
  background: rgba(40, 40, 40, 0);
  color: white;
  border: none;
  text-align: center;
}

#carselnav {
  display: -ms-grid;
  display: grid;
  background-color: #00073D;
  -ms-grid-rows: 4fr;
      grid-template-rows: 4fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "breakfast lunch children dessert drinks";
  height: 7vw;
  width: 100vw;
}

#breakfast {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: breakfast;
  background-color: #00073D;
}

#lunch {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lunch;
}

#children {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: children;
}

#dessert {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: dessert;
}

#drinks {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: drinks;
}

.carselt {
  text-align: center;
  font-size: 2vw;
  margin-top: 2.4vw;
  color: white;
}

a {
  text-decoration: none;
}

#pseudo {
  background-color: #04B8D0;
  border: none;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-family: 'Oxygen', sans-serif !important;
  font-size: 2vw;
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  margin: auto;
  margin-top: 2vw;
  width: 25vw;
}

#pseudo:hover {
  cursor: pointer;
}

#sub {
  background-color: #4054c9;
  border: none;
  padding-top: 1.3vw;
  padding-bottom: 1.3vw;
  font-family: 'Oxygen', sans-serif !important;
  font-size: 3vw;
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  margin: auto;
  margin-top: 2vw;
  width: 35vw;
  margin-left: 32.5vw;
  margin-bottom: 2vw;
}

#sub:hover {
  cursor: pointer;
}

.adminhead {
  font-size: 2.4vw;
  margin-left: 2vw;
}

.admintext {
  font-size: 1.7vw;
  margin-bottom: 3vw;
  margin-left: 2vw;
}

.name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  font-size: 1.8vw;
}

.desc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
  border: none;
  border-bottom: 0.2vw solid #4054c9;
  font-family: 'Oxygen', sans-serif;
  margin-right: 1vw;
  font-size: 1.8vw;
}

.price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
  border: none;
  border-bottom: 0.3vw solid #ffff2b;
  font-family: 'Oxygen', sans-serif;
  margin-right: 1vw;
  font-size: 1.8vw;
}

:focus {
  outline: none;
}

.update {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: update;
  border: none;
  background-color: #7af05d;
  color: white;
  font-size: 1.4vw;
}

.update:hover {
  cursor: pointer;
}

.delete {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: delete;
  background-color: red;
  border: none;
  color: white;
  font-size: 1.4vw;
}

.delete:hover {
  cursor: pointer;
}

.menuform {
  margin-top: 3vw;
}

.menusub {
  margin-top: 1vw;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 2.5fr 0.7fr 1.5fr 1fr 1fr;
      grid-template-columns: 2.5fr 2.5fr 0.7fr 1.5fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "name desc price image update delete";
}

.upimg {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: image;
  text-align: center;
  background-color: #04B8D0;
  color: white;
  font-size: 1.4vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.4vw;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
}

.upimg:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .menusub {
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "name desc update" "image price delete";
    margin-top: 3vw;
  }
  .name {
    text-align: center;
  }
}
/*# sourceMappingURL=admin.css.map */